:host {
  display: block;
}
.container {
  container-type: inline-size;
  box-shadow: 0 0 transparent,0 0 transparent,var(--apie-shadow-colored);
  background-color: var(--apie-stacktrace-background);
  border-radius: 0.5rem;
}
.stretch-trace-display {
  overflow: hidden;
  align-items: stretch;
  grid-template-columns: repeat(1,minmax(0,1fr));
  display: grid;
}
aside {
  border-right-width: 1px;
  flex-direction: column;
  display: flex;
  z-index: 30;
  position: relative;
  border-color: var(--apie-stacktrace-border-color);
}
.stacktrace-list {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  flex-direction: column;
  max-height: 50vh;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--apie-stacktrace-background);
}
.header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom-width: 1px;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  height: 4rem;
  display: flex;
  border-color: var(--apie-stacktrace-border-color);
  background-color: var(--apie-stacktrace-background);
}
.list-container {
  padding-bottom: 1.5em;
  flex-grow: 1;
  overflow: auto;
  -webkit-mask-image: linear-gradient(180deg,#000 calc(100% - 4rem),transparent);
}
ol {
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
li.stack-item {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--apie-stacktrace-border-color);
}
li.stack-item.inactive {
  cursor: pointer;
}
li.stack-item.inactive:hover {
  background-color: var(--apie-stacktrace-trace-hover-color);
}
li.stack-item.active {
  color: var(--apie-stacktrace-trace-active-text-color);
  background-color: var(--apie-stacktrace-trace-active-background-color);
}
.missing {
  font-style: italic;
  font-weight: bolder;
}
li.source-code {
  font-size: .875rem;
  line-height: 1.25rem;
  overflow-y: hidden;
  overflow-x: auto;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  font-weight: bold;
  -webkit-mask-image: linear-gradient(90deg,#000 0,#000 calc(100% - 3rem),transparent calc(100% - 1rem));
}