:host {
  display: block;
}
section {
  container-type: inline-size;
  box-shadow: 0 0 transparent,0 0 transparent,var(--apie-shadow-colored);
  background-color: var(--apie-stacktrace-background);
  border-radius: 0.5rem;
}
.stretch-exception-display {
  align-items: stretch;
}
main {
  flex-grow: 1;
  min-width: 0;
  z-index: 10;
}
.overflow-hidden {
  overflow: hidden;
}
.exception-message-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: auto;
}
.exception-type {
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.exception-message {
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.clamped-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.php-version {
  font-size: .875rem;
  line-height: 1.25rem;
  gap: 1rem;
  justify-content: flex-end;
  grid-auto-flow: column;
  display: grid;
  color: var(--apie-stacktrace-php-version)
}
.tracking-wider {
  letter-spacing: .05em;
}